<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body ng-app="myapp">
		<section class="todoapp" ng-controller="mycontroller">
			<header class="header">
				<h1>todos</h1>

				<form ng-submit="add()">
					<input ng-model="text" class="new-todo" placeholder="需要做什么?" autofocus>
				</form>
			</header>
			<!-- 这部分应该是默认隐藏和显示当有待办事项 -->
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<!-- 这些只是为了显示列表项的结构。 -->
					<!-- 当编辑完成时，列表项应该得到类“编辑”和“完成”。 -->
					<li ng-repeat="items in data" id="{{items.id}}" ng-class="{completed:items.completed,editing:items.id===editing}" ng-daclick="db()">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="items.completed">
							<label ng-dblclick="db(items.id,items.completed)">{{items.name}}</label>
							<button class="destroy" ng-click="remove(items.id)"></button>
						</div>
						<form ng-submit="save()"><input class="edit" ng-model="items.name"></form>
					</li>
				</ul>
			</section>
			<!-- 这个页脚应该默认隐藏和显示当有待办事项 -->
			<footer class="footer">
				<!-- 这应该是`默认左` 0项-->
				<span class="todo-count"><strong>{{data.length}}</strong> item left</span>
				<!--删除如果你不执行路由-->
				<ul class="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- 如果没有完成的项目，则隐藏 ↓ -->
				<button class="clear-completed" ng-click="clear()" ng-show="toggleShowHide()">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!--删除下面的行 ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- 脚本在这里。不要删除↓ -->
		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
